@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply cursor-pointer !important;
}


@layer utilities {
    .fade-up {
      @apply opacity-0 translate-y-4 transition-all duration-['3000'] ease-in-out;
    }
    .fade-up.visible {
      @apply opacity-100 translate-y-0;
    }
  }



@layer base {
    html {
        font-family: 'Vazirmatn','Shabnam' ;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Shabnam' ;
    }
    @font-face {
        font-family: 'Vazirmatn';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('../fonts/Vazirmatn-Regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Shabnam';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('../fonts/Shabnam.woff2') format('woff2');
    }
}
